@*Created by Austin Sanders-05/05/2021*@
@model OneStopBeauty.Models.Service

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Create New Service</h1>

<hr />
<style>
    div {
        background-color: white;
    }
</style>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Service_Rendered" class="control-label"></label>
                <input asp-for="Service_Rendered" class="form-control" />
                <span asp-validation-for="Service_Rendered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service_Type" class="control-label"></label>
                <input asp-for="Service_Type" class="form-control" />
                <span asp-validation-for="Service_Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service_Price" class="control-label"></label>
                <input asp-for="Service_Price" class="form-control" />
                <span asp-validation-for="Service_Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
