@*Created by Austin Sanders-05/05/2021*@
@{
    ViewData["Title"] = "Home Page";
}


<body>
    <h1 style="color:mediumvioletred; text-align: center; font: bold">Welcome to One Stop Beauty</h1>
    <nav class="navbar navbar">
        <div class="btn-group-vertical" style="align-items:center;">

            <p>
                <a asp-action="Index" asp-controller="Customers" class="btn btn-primary">Click to View Customers</a>
            </p>

            <p>
                <a asp-action="Index" asp-controller="Employees" class="btn btn-primary">Click to View Employees</a>
            </p>

            <p>
                <a asp-action="Index" asp-controller="BillingStatements" class="btn btn-primary">Click to View Billing Statements</a>
            </p>

            <p>
                <a asp-action="Index" asp-controller="Locations" class="btn btn-primary">Click to View Locations</a>
            </p>

            <p>
                <a asp-action="Index" asp-controller="Inventories" class="btn btn-primary">Click to View Products</a>
            </p>

            <p>
                <a asp-action="Index" asp-controller="Services" class="btn btn-primary">Click to View Services</a>
            </p>

            <p>
                <a asp-action="Index" asp-controller="Suppliers" class="btn btn-primary">Click to View Suppliers</a>
            </p>

            <p>
                <a asp-action="Index" asp-controller="ItemsSOld" class="btn btn-primary">Click to View Items Sold</a>
            </p>

        </div>
    </nav>




</body>
